   <div>
        <% if !flash[:notice].blank? %>
            <div class="notice">
                <%= flash[:notice] %>
            </div>
        <%end%>
    </div>


<h2>List Of Orders</h2>

<table class="table table-bordered">
<thead>
    <tr>
        <th> First Name </th>
        <th> Last Name </th>
        <th> Order ID </th>
        <th> SubTotal </th>
        <th> Status </th>
    </tr>
</thead>
<tbody>
    
    <% @orders.each do |order| %>
        <tr>
            <td><%=link_to order.first_name, :action => "show_orderitems", :controller => 'orders', :id => order.id %></td>
            <td><%=order.last_name %></td>
            <td><%=order.id %></td>
            <td><%=number_to_indian_currency(order.sub_total) %></td>
            <td> <%= order.status %></td>
                <%# <% order.items.each do |item| %>
                   <%# <td><%= item.id%>
                <%# <%end%>
        </tr>
    <% end %>
    
</tbody>

</table>