<h1><%= @product.title %></h1>

<p>
   <strong>Price: </strong> $<%= @product.price %><br />
   <strong>Category :</strong><%= link_to @product.category.name,
   :action => "show", :controller => 'product', :id => @product.category.id %><br />
   <strong>Created Date:</strong> <%= @product.created_at %><br />
</p>

<p><%= @product.description %></p>

<hr />

<%= link_to 'Back', {:action => 'list'} %>