<%= form_for @feedback do |form| %>

<p><%= label_tag :order_id, class: "col-sm-2 col-form-label col-form-label-sm" %>
<%= form.select(:feedbacks, :order_id, Order.pluck(:order_id)) %></p>

<p><%= label_tag :title %>
<%= form.text_field :title %></p>

<p><%= label_tag  :description %>
<%= form.text_area :description %></p>

<%= form.submit "Create", class: "btn btn-primary" %>

<% end %>