<h1> New Feedback </h1>

<%= form_tag(:action => "create")  do %>

<p><label for = "feedback_title">Title</label>:
<%= text_field 'feedbacks', 'title' %></p>

<p><label for = "feedback_description">Description</label>:
<%= text_area 'feedbacks', 'description' %></p>

<% @order.each do |c|%>
<%= hidden_field_tag :order_id, c.id %>
<%end%>
<%= submit_tag "Create", class: "btn btn-primary" %>

<% end %>