<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <%= link_to "BBD POS", root_path, class: 'nav-link' %>
    <%# <div class="collapse navbar-collapse" id="navbarNav"> %>
      <ul class="navbar-nav">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "Categories", product_list_path, class: 'nav-link' %>
        </li>
          <li class="nav-item">
          <%= link_to pluralize(current_cart.items_count, 'item'), cart_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'nav-link' %>
        </li>
        <% else %>
       <li class="nav-item">
          <%= link_to 'Sign In', new_user_session_path, class: 'nav-link' %>
        </li>
        <% end %>
      
      </ul>
    <%# </div> %>
  </div>
</nav>